.dashboardlayout {
  height: 100%;
  
  .leftdashboard {
    background-color: rgba(0,0,0,0.9);
    position: relative;
  }

  .rightdashboard {
    background-color: rgba(0,0,0,0.9);
    position: relative;
  }
}
