.modal, .modal-footer {
  background-color: rgba(0,0,0,0.5);
  .modal-content {
    ul, li {
      background-color: rgba(0,0,0,0.7);
    }
  }
}

#help {
  .modal-content p {
    font-size: 15px;
  }
}