.signup {
  h1 {
    font-family: 'Lato';
    font-weight: 900;
    letter-spacing: 20px;
    margin-top: 20px; 
  }
  .link {
    margin-top: 20px;
    cursor: pointer;
    :hover {
      text-decoration: underline;
    }
  }
}