.speechText {
  .listen-buttons {
  }
  #start, #stop {
    padding: 0;
    position: fixed;
    width: 100px;
    bottom: 10%;
    left: 50%;
    margin-left: -50px;
  }
  .speech-title {
    padding-top: 100px;
  }
}