#video {
	background-color: black;
	box-radius: 2px;
	-webkit-box-shadow: 2px -3px 55px 7px rgba(240, 235, 240, 0.45);
	-moz-box-shadow: 2px -3px 55px 7px rgba(240, 235, 240, 0.45);
	box-shadow: 2px -3px 55px 7px rgba(240, 235, 240, 0.45);
	.modal-footer {
		color: white;
		background-color: black;
	}
}