# Node Modules
/node_modules

# Development and Distribution Files
/dev
/dist
/prod

# Configuration Files
.env
.apoc.yml

# MISC Files
dump.rdb
npm-debug.log

# Ignore authentication
/src/server/authentication

# Ignore CHrome Bundle JS
/chrome_extension/bundle.js
/chrome_extension/*.png
!/chrome_extension/ce.png
